h1 {
    font-size: $xxx-large;
    font-family: $PTMono;
    color: $black;
    font-weight: $ligth;
    line-height: 100%;
    text-align: left;
}

h2 {
    font-size: $xx-large;
    color: $black;
    font-family: $PTMono;
}

h3 {
    font-family: $PTMono;
    font-weight: $regular;
    font-size: $x-large;
    color: $black;
}


p {
    font-family: $Roboto;
    font-weight: $ligth;
    font-size: $medium;
    color: $black;
    letter-spacing: 1px;
    
}
