// Colores

$white:#fff;
$isabelline: #eeeded;
$spanishgray: #989797;

$coral: #eacb31;
$buff: #F1DD7B;
$vanilla: #f5e7a1;

$flame: #e4572e;
$lightredochre: #e87554;
$pastelpink: #f2b2a0;

$shinyshamrock: #4ca866;
$turquoisegreen: #9dcfab;
$pastelgray: #bddfc7;

$bluefrance: #3c91e6;
$bluejeans: #5fa5ea;
$jordyblue: #82b9ef;

$black: #000;
$outerspace: #454545;
$quicksilver: #a2a2a2;

// tipografia

$Roboto: 'Roboto', sans-serif;
$PTMono: 'PT Mono', monospace;


// Pesos

$regular:400;
$ligth: 300;

// Tamaños

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
// $small: 12px;
