.btn-outline-secondary {
    color: $quicksilver;
    border-color: $shinyshamrock;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: $shinyshamrock;
    border-color: $shinyshamrock;
}