header {
    width: 100%;
    background-color: $blue;
    position: fixed;
    z-index: -1;
    top: 50px;
    display: inline-block;
    position: absolute;



    .imagen1 {
        width: 899px;
        height: 440px;
        display: inline-block;
        // box-sizing: border-box;
        // top: 67px;
        z-index: 1;
        // position: fixed;


    }

    .textoheader {
        font-family: $PTMono;
        color: $quicksilver;
        margin: 5rem 7rem;
        display: inline-block;
        z-index: 1;
        position: absolute;
    }

    h1 {
        width: 50%;
    }

}
